#expcontainer {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#exp {
    margin: 40px;
}

#exptitulo {
    margin-left: 40px;
}

.section1 {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.bullets {
    width: 30%;
}

.bullets1 {
    margin: 20px;
}

button {
    margin: 30px 0px 0px 20px;
}