#menu-lateral {
    text-align: center;
    flex: 1;
    background-color: rgb(211, 145, 255);
    padding: 20px;
    box-shadow: 20 0 100 3px #000000;
}

#contato {
    margin-bottom: 50px;
}

.foto-perfil {
    height: 150px;
}

#footer {
    font-size: small;
}