#menu-lateral {
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 145, 255);
    padding: 20px;
    box-shadow: 20 0 100 3px #000000;
}

#contato {
    margin-bottom: 50px;
}

.foto-perfil {
    height: 150px;
}